.eachSlide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 30vw;
    /* height: 400px; */
}
/* @media only screen and (max-width: 830px) {
    .eachSlide > div {
        height: 150px; 
    }
  } */