.wrapper {
    padding:15px;
    background-color: #666666;
    width:100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        display: inline-block;
        box-sizing: border-box;
    }
}

.logo {
    max-width: 20vw;
    min-width:100px; 
}
.project {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.create {
    padding-left:10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
    font-weight: bold;
}
.contact {
    margin-left:10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}