.bigWrapper{
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #ffff 50%, #ffc3cb 100%);
}
.wrapper{
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        display: inline-block;
        width: 100vw;
        box-sizing: border-box;
    }
}
.btnDropdownWrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.loginRegisterWrapper{
    display: flex;
    margin-bottom: 10px;
}
.registerBtn{
    font-size: 16px;
    color:white;
    border:2px solid #282828;;
    border-radius:20px;
    background-color: #282828;
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    transition:ease-out 0.5s;
}
.registerBtn:hover{
    box-shadow: inset 800px 0 0 0 #ffc3cb;
    color:#282828;
}
.loginBtn{
    font-size: 16px;
    color:white;
    border:2px solid #282828;;
    border-radius:20px;
    background-color: #282828;
    width: 130px;
    height: 30px;
    cursor: pointer;
    transition:ease-out 0.5s;
}
.loginBtn:hover{
    box-shadow: inset 800px 0 0 0 #ffc3cb;
    color:#282828;
}
.logoutBtn{
    font-size: 16px;
    color:white;
    border:none;
    border-radius:20px;
    background-color: #282828;
    width: 130px;
    height: 30px;
    cursor: pointer;
}
.greeting{
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
    display: flex;
    align-items: center;
    font-size: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

/* .dropdown{
    position:absolute;
    z-index: 2;
} */

