.inputWrapper{
    width:266px;
    height: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    border-top:none;
    border-left:2px solid #ffc6c6;
    border-right:2px solid #ffc6c6;
    border-bottom:2px solid #ffc6c6;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    position:absolute;
    z-index: 12;
}
.input::placeholder{
    color: rgb(172, 172, 172)
}
.input:focus {
    outline: none;
}
.input{
    color:#ffc6c6;
    font-size: 16px;
    width: 230px;
    height: 35px;
    border:2px solid #ffc6c6;
    border-radius: 10px ;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
    background-color: rgb(69, 69, 69);
}
.button{
    margin-top: 30px;
    justify-content: center;
    background: #ffc6c6;
    width: 230px;
    height:40px;
    color: #282828;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition:ease-out 0.7s;
}
.button:hover{
    box-shadow: inset 230px 0 0 0 white;
}
.error{
    font-family: Arial, Helvetica, sans-serif;
    color:#ffc6c6
}