.searchWrapper{
    width:100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    top:0;
    position: sticky;
    z-index: 11;
    /* padding:20px;
    box-sizing: border-box; */
}
.input::placeholder{
    color: grey
}
.input:focus {
    outline: none;
}
.input{
    color: white;
    font-size: 18px;
    background-color: rgb(69, 69, 69);
    width: 50vw;
    height: 10px;
    border:2px solid #282828;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: -5px;
    box-sizing: border-box;
}
@media only screen and (max-width: 830px) {
    .input {
        width: 60vw;
    }
  }
.btn{
    font-size: 18px;
    color: #282828;
    width:15vw;
    height: 40px;
    background-color:#ffc6c6;
    border: none;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    cursor: pointer;
    font-weight: bold;
    transition:ease-out 1s;
    box-sizing: border-box;
}
@media only screen and (max-width: 830px) {
    .btn {
        font-size: 16px;
        width: 30vw;
    }
  }
.btn:hover{
    box-shadow: inset 195px 0 0 0 white;
}