.inputWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;

}
.input{
    font-size: 18px;
    width: 200px;
    height: 10px;
    border-radius: 20px ;
    padding: 10px;
}
.button{
    display: block;
    justify-content: center;
    
    background: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
}