.wrapper {
    background-color: white;
    margin: 45px;
    padding:10px;
    border-radius: 50px;
}
@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 10px;
    }
}
.each {
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
}
@media only screen and (max-width: 600px) {
    .image{
        width:110px
    }
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    color:#282828;
    font-size: 20px;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:40px;
}