/* 830 */

html,
body{
    margin:0;
    background-color: #f0f0f0;
    font-family: "PingFang-SC","Lucida Grande","Helvetica","Arial","微軟正黑體修正","微軟正黑體",sans-serif;
    margin:0
}

.bigContainer{
    background: #ffff;
    display: flex;
    justify-content: space-around;
}

.container{
    font-family: "PingFang-SC","Lucida Grande","Helvetica","Arial","微軟正黑體修正","微軟正黑體",sans-serif;
    padding-top: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    height:500px;
    margin-top: 60px;
}

.loading{
    padding-left:40%;
    background: white;
}

.onlyOnePlatform{
    display: flex;
    overflow: scroll;
}

.boujourAllResult{
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-right: 80px;
    overflow: scroll;
}

.clearUnderLine{
    text-decoration: none;
    color: black;
}

.border{
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid #d6d6d6;
    margin-bottom: 30px;
    height: 400px;
    padding-right: 20px;
    padding-left: 20px;
    transition: transform .2s;
}

.border:hover{
   transform: scale(0.8); 
}

.onlyOnePlatformBorder{
    margin-right: 15px;
    width: 350px;
    padding-top: 20px;
    border-radius: 10px;
    border: 2px solid #d6d6d6;
    margin-bottom: 30px;
    height: 400px;
    padding-right: 20px;
    padding-left: 20px;
    transition: transform .2s;
}

.onlyOnePlatformBorder:hover{
    transform: scale(0.8); 
}

.bigImg{
    display: block;
    border-radius: 10%;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}

.productName{
    height: 65px;
    color: black;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 1px;
}

.onlyOnePlatformProductName{
    height: 65px;
    color: black;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 1px;
    font-size: 5px;
}

.postCommentImg{
    width: 500px;
}

.price{
    font-size: 20px;
    color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 1px;
}

.platformName{
    font-size: 10px;
    color:  #ababab;
    text-align: end;
    padding-top: 20px;
    padding-bottom: 1px;
}

.yohoAllResult{
    display: flex;
    flex-direction: column;
    width: 450px;
    overflow: scroll;
}

.offerContainer{
    margin-top: 50px;
    width: 100%;
    font-family: "PingFang-SC","Lucida Grande","Helvetica","Arial","微軟正黑體修正","微軟正黑體",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.offerDetail{
    /* height: 50vh; */
    justify-content: center;
    width: 100%;
    display: flex;
    padding-bottom: 50px;
    background-color: white;
    padding-top:50px ;
    /* padding: 50px; */
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.categoryId{
    background: white;
}
/* 
.offerDetail{
    display: flex;
    background-color: white;
    padding: 210px;
    border-top-left-radius: 92px;
    border-top-right-radius: 92px;
} */

.offerDetailContainer{
    /* width: 700px; */
    padding-left: 100px;
}

.offerImg{
    padding-left: 25px;
    height:290px;
    width:auto;
    padding-bottom: 5px;
}

.offerProductName{
    padding-right: 40px;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 30px;
}

.offerPrice{
    color: #ff5353;
    font-size: 30px;
}

.offerPlatform{
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 30px;
}

.offerPlatformType{
background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 6px;
}

.offerCommentPart{
    width: 100%;
    margin-bottom: 20px;
    background: white;
    display: flex;
    justify-content: space-evenly;
}

.commentInputContainer{
    padding-left: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.commentInputUsername{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentInputAndPostButton{
    padding-left: 10px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.commentInputBigUsername{
    font-size: 15px;
    padding-bottom:5px;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight:bold;
}

.commentInputTextArea{
    width: 100%;
    height: 140px;
    border: 2px solid rgb(235, 233, 233);
    margin-bottom: 10px;
}

.commentInputPostButton{
    height:50px;
    background: #aba9a9;
    border-radius: 5px;
    color: white;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border:none
}

.dropZone{
    display: flex;
    margin-bottom: 5px;
    opacity: 0.5;
}

.dropZonePreviewPic{
    display: flex;
    width: auto;
    height: 200px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.dropZonePreviewRemoveButtonContainer{
    display: flex;
    align-items: end;
    padding-left: 5px;
}

.dropZonePreview{
    display: flex;
}

.dropZonePreviewRemoveButton{
    align-items: center;
    height:30px;
    background: #aba9a9;
    border-radius: 5px;
    color: white;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border:none;
    margin-bottom: 10px;
}

.commentListContainer{
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.commentListSmallContainer{
    padding-left: 10px;
    width: 600px;
}

.commentListNameAndDate{
    display: flex;
}

.commentListDate{
    color: #6c757d;
   padding-left:10px;
}

.commentListOutline{
    /* width: 400px; */
    padding-top: 2px;
    flex-direction: column;
}

.commentListContent{
    margin-top: 10px;
    padding-bottom: 5px;
    height: 150px;
    border: 2px solid rgb(235, 233, 233);
}

.commentListDelete{
    height: 50px;
    background: #aba9a9;
    border-radius: 5px;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.postCommentAndCommentList{
    width: 100%;
    flex: 1;
}

.twoPlaftformSearch{
    padding-right: 12px;
}

.onlyOnePlatformSearch{
    padding-top: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.commentListBigContainer{
    margin-right: 20px;
    width: 50%;
}

.commentBigContainer{
    margin-left: 20px;
    width: 50%;
}

.commentListTitle{
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    text-decoration: underline;
}

@media screen and (max-width:833px) {
    .container{
        font-family: "PingFang-SC","Lucida Grande","Helvetica","Arial","微軟正黑體修正","微軟正黑體",sans-serif;
        padding-top: 50px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-top: 60px;
        /* align-items: center; */
        padding-left: 40px;
    }

    .boujourAllResult{
        display: flex;
        flex-direction: initial;
        overflow: scroll;
        width: 50vw;
    }

    .yohoAllResult{
        display: flex;
        flex-direction: initial;
        overflow: scroll;
        width: 70vw;
    }

    .border{
        width: 200px;
        margin-right:9px
    }

    .productName{
        font-size: 12px;
    }

    .offerDetail{
        flex-direction: inherit;
    }

   .offerImg{
    /* height: 250px;
    width: auto; */
    padding-left: 60px;
    padding-bottom: 20px;
    width: 280px;
   }

   .offerProductName{
       width: 50vw;
   }

   .offerCommentPart{
       width: 100%;
    /* padding-left: 120px; */
    display: block;
   }

   .commentInputUsername{
       height: 20px;
       width: 20px;
   }

   .commentInputAndPostButton{
       width: 60vw;
       padding-bottom: 50px;
   }

   .commentListSmallContainer{
       width: 60vw;
   }

   .dropZonePreviewPic{
       height: 100px;
   }

   .dropZonePreviewRemoveButton{
       font-size: 1px;
   }

   .postCommentImg{
        width: 200px;
        padding-left: 20px;
   }

   .twoPlaftformSearch{
    padding-bottom: 5px;
}

    .commentInputContainer{
        width: 125%;
        padding-left: 45px;
    }

    .commentListContainer{
        width: 125%;
        padding-left: 45px;
    }

    .commentListTitle{
        font-size: 20px;
    }
    
    /* .container{
        font-family: "PingFang-SC","Lucida Grande","Helvetica","Arial","微軟正黑體修正","微軟正黑體",sans-serif;
    }

    .loading{
        padding-left:40%;
        background: white;
    }

    .boujourAllResult{
        height: 50vw;
        display: flex;
        flex-direction: column;
        width: 270px;
        padding-right: 80px;
        overflow: scroll;
    }

    .yohoAllResult{
        height: 50vw;
        display: flex;
        flex-direction: column;
        width: 270px;
        overflow: scroll;
    }

    .bigImg{
        display: block;
        margin: 0px auto;
        width: auto;
        height: 130px;
    }

    .productName{
        color: black;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 1px;
        font-size: 13px;
    }

    .border{
        padding-top: 20px;
        border-radius: 10px;
        border: 2px solid #d6d6d6;
        margin-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
        transition: transform .2s;
    } */
}